<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2007, Lingway. All Rights Reserved.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all" debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%-5p %c{4} - %m%n"/>
		</layout>
	</appender>

	<appender name="async" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="console"/>
	</appender>

	<logger name="me.champeau.ld" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="async"/>
	</logger>

	<!-- root logger -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="async"/>
	</root>

</log4j:configuration>